extends layout 

block content 
   .row
      .col-md-4
         .card
            .card-header
               h3 Ajouter une tache
            .card-body
               form(action="/ajouter", method="POST")
                  .form-group
                     label(for='todo') Ajouter une tâche:
                     input.form-control#todo(type='text' name="title")
                  button(type="submit").btn.btn-primary.btn-block
                     | Ajouter
                     i.fas.fa-plus.pl-1
      .col-md-8
         table.table.table-striped
            thead
              tr
                th(scope='col') ID
                th(scope='col') Todo
                th(scope='col') Editer
                th(scope='col') Supprimer 
            tbody
               each todo in todos
                  tr
                     th(scope='row')= todo.id
                     td= todo.title
                     td
                        a(href=`/editer/${todo.id}`).btn.btn-info.btn-sm 
                           i.fas.fa-pencil-alt
                     td
                        form(method="POST", action=`/supprimer/${todo.id}?_method=DELETE`)
                           button(type='submit').btn.btn-danger.btn-sm 
                              i.fas.fa-trash-alt